/* Logo+PRads(PR- B90E44 ads-07183A)
      Overseas Educational consultants */

.root {
  margin: 0px;
  --logo-height: 36px;
  --brand-red-color: #b90e44;
  --brand-blue-color: #07183a;
  --brand-accent-color: #004499;
  --logo-brand-width: 210px;
  --header-color: #323847;
}

.login-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

a.active-page.navbar-item {
  font-weight: bold;
  border: 2px solid var(--header-color);
  /* border: var(--header-color) solid 1px; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
}

a.navbar-item:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  border: 2px solid var(--header-color);
}

.btn {
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-sec {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.logo-img {
  height: var(--logo-height);
  width: var(--logo-height);
}

.log-brand-name-sec {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 210px;
}

.brand {
  font-size: var(--logo-height);
  font-weight: 900;
  /* letter-spacing: 0.1em; */
  color: var(--brand-red-color);
}

.brand-sub {
  color: var(--brand-blue-color);
}

.caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  /* letter-spacing: -1px; */
  min-width: var(--logo-brand-width);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

ul.menu-ul {
  width: 100%;
  margin-right: 10px;
  list-style-type: none;
  /* padding: 5px 5px; */
  display: flex;
  gap: 2%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
  padding-inline-start: 4px;
}

li.menu-item {
  max-width: 100px;
  min-width: 30px;
  height: 35px;
  margin-left: 3px;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  color: var(--header-color);
  text-shadow: 0 0 1px #d1d1d1, 0 0 5px #ababab;
}
